
/* Repeated Color/Radius Variables */
:root {
    --primary: #ffffff;
    --secondary: #aeebfc;
    --hoverColor: #DA0000;
    --light-dark: #940000;
    --dark:#0a0a0a;
    --mid-dark:#181818;
    --background: #232323;
    --border-radius: .3rem;
}

/*A class to hide/unhide elements */
.hidden{
    display: none;
}

.modal{
    color: var(--hoverColor);
}

/* Button Styling (need to update to fit our layout */
.btn {
    font-size: 1.4rem;
    font-family: 'Teko', sans-serif;
    text-decoration:none;
    padding: 6px 10px;
    margin: 5px;
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    border-radius: 100px;
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(0px, 0px);
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--hoverColor);
    transform: translate(1px, 1px);
    box-shadow: 2px 2px var(--dark);
}
  
.btn-inline {
    display: inline;
}

/* Image Sizing */
.searchImages {
    display: block;
    max-width: 644px;
    max-height: auto;
    width: auto;
    height: auto;
}

.card-body {
    background-color: var(--mid-dark);
}

.card {
    background-color: #181818;
}


body {
    background-color: var(--background);
    color: var(--primary);
}

.card-body p {
    font-size: 1.3rem;
    font-family: 'Teko', sans-serif;
}

h5 {
    font-size: 2rem;
}


header {
    display:block;
    height: 300px;
    padding: 35px;
}

/* This makes the "film" part red */

h1 red {
    color: #DA0000;
}

h1 {
    font-size: 100px;
    font-family: 'Monoton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../assets/squiggle.png");
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
}   

h2 {
    font-size: 34px;
    font-family: 'Teko', sans-serif;
}

footer {
    background-color: var(--background);
    color: var(--primary);
    height:200px;
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

/* styling for every element in footer element */

#bottom-footer {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

/* styling for search history text */

.card-title {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 4px;
    font-family: 'Teko', sans-serif;
}

/* search button sizing */

#userSearchInput {
    border-radius: 100px;
    box-shadow: 3px 3px var(--dark);
    height: 46px;
    font-family: 'Teko', sans-serif;
    font-size: 1.4rem;
}